*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    gap: 10px;
}

#field{
    padding: 10px;
}

#add{
    background-color: green;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

#delete{
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.delete{
    background-color: red;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.taskdiv{
    background-color: grey;
    padding: 10px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 10px;
}

.taskdiv ul{
    padding-left: 0;
    margin: 0;
    list-style-position: inside;
}

.task-checkbox{
    padding: 10px;
}

#noTaskMessage{
    font-size: 16px;
    color: gray;
    text-align: center;
}

#taskCount{
    text-align: center;
}